$myColor: red;
$bkColor: peru;
$bkColorSecondary: darksalmon;
$myFont:Helvetica, sans-serif;
$myFontSize: 18 px;
$myWidth:680px;

@mixin mateosBorder($myColor, $myWidth){
 border-radius: 10px;
 border-style: dotted;
 border-width: 10px;

 border: $myWidth solid $myColor;
}